.vsImageStyle {
    width: 20em
}

.catFeedPic {
    width: 16em;
}

.dogFeedPic {
    width: 16em;
}

body {
    color: white;
    background-color: darkgreen;
}

#votingBlock {
    display: flex;
    justify-content: space-around;
}

#feed {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
 text-align: center;
}

.giphy-embed{
    margin-top: 115px;
}