.vsImageStyle {
    width: 30em;
}

.catFeedPic {
    width: 21em;
}

.dogFeedPic {
    width: 21em;
}

body {
    color: white;
    background-color: darkgreen;
}

#votingBlock {
    display: flex;
    justify-content: space-around;
    
}

#feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    font-family: Silkscreen;
}

h2 {
    font-family: Silkscreen;
    text-align: center;
    text-decoration-color: black;
    border: 0ch;
    border-color: black;
}

h3 {
font-family: Silkscreen;
 text-align: center;
}

.vsGif{
    margin-top: 115px;
}

.vsFeedGif {
    margin-top: 70px;
}

#scoreBoard {
    display: flex;
    justify-content: space-around;
}
.winner {
    border: 10px green solid;
}